{% extends 'base.html' %}

{% block title %}Корзина - {% endblock %}

{% block content %}
<div class="text-center">
    <hr>
    <h2>Ваша корзина</h2>
    <hr>
</div>
<article class="grid-container">

    <table>
        <thead>
        <tr>
            <th>Фото товара</th>
            <th>Товар</th>
            <th>кол-во</th>
            <th>Цена</th>
        </tr>
        </thead>
        <tbody>
        {% for item in incart %}
            <tr>
                <td><a href="#">
                    <img class="thumbnail" src="https://placehold.it/100x100"></a></td>
                <td><a href="../catalog/product/{{ item.slug }}">{{ item.title }}</a> </td>
                <td>{{ cartamount }} </td>
                <td>{{ item.price }} руб.</td>
            </tr>
        {% empty %}
        <tr>
            <td colspan="3">Ваша корзина пуста</td>
        </tr>
        {% endfor %}
            <tr>
                <td>Итого</td>
                <td colspan="3">{{ cartresult }}</td>
                <td colspan="3"></td>
            </tr>
        </tbody>
    </table>

</article>
{% endblock %}


