{% extends 'catalog/base.html' %}

{% block title %} {{ product.title }} - {{ product.categoty }} - {% endblock %}

{% block content %}
<div class="text-center">
    <hr>
    <h2></h2>
    <hr>
</div>
<article class="grid-container">

    <div class="grid-x grid-margin-x">
        <div class="medium-6 cell">
            <img class="thumbnail" src="https://placehold.it/650x650">
        </div>
        <div class="medium-6 large-5 cell large-offset-1">
            <a href="../../{{ product.categoty.slug }}"><p class="hollow small button">{{ product.categoty }}</p></a>
            <h3>{{ product.title }}</h3>
            <p>{{ product.description }}</p>
            <ul>
                <li><strong>Артикул: {{ product.sku }}</strong></li>
                <li><strong>Рейтинг: {{ product.rating }}</strong></li>
                <li><strong>Штрихкод: {{ product.barcode }}</strong></li>
            </ul>


            <h3>Цена: {{ product.price }} руб.</h3>
            <div class="grid-x">
                <div class="small-3 cell">
                    <label for="middle-label" class="middle">кол-во</label>
                </div>
                <div class="small-9 cell">
                    <input type="text" id="middle-label" placeholder="шт">
                </div>
            </div>

            <a href="#" class="button large expanded">Купить</a>
        </div>
    </div>

</article>
{% endblock %}


